<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIC</title>
    <meta name="description" content="Ministry of Youth Affairs and Sports">
    <meta name="keywords" content="sports, youth, MYBharat">
    <meta name="author" content="Jass">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="navbar">

        <div class="left-div">
            <ul class="list-styling">
                <li>
                    Home
                    Sign In
                </li>
            </ul>
        </div>
        <div>
            <img src="brain_pic.png" class="logo_img">
        </div>
        <div class="right-div">
            <ul class="list-styling">
                <li>
                    Support
                    About
                </li>

            </ul>
        </div>

    </div>
    <div class="whole-screen">

    </div>
</body>
</html>


