<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIC</title>
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Jass">
    <style>
        *{
            margin:0;
            padding: 0;
            box-sizing:border-box;
        }
        .navbar {
            background-color: darkgray;
            margin-top: 10px;
            padding: 10px;
            border-bottom: 2px solid black;
            border-top: 2px solid black;
        }
    </style>
</head>
<body>
<div class ="navbar">
NIC
</div>
</body>
</html>