<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIC</title>
    <meta name="description" content="Ministry of Youth Affairs and Sports">
    <meta name="keywords" content="sports, youth, MYBharat">
    <meta name="author" content="Jass">
    <link rel="stylesheet" href="style_dummy.css">
</head>

<body>
<!-- This is the nav bar code -->
    <div class="navbar">
        <div class="navbar-item"><a href="#">Home</a></div>
        <div class="navbar-item"><a href="#">Sign In</a></div>
        <div><img src="brain_pic.png" class="logo_img" alt="Logo"></div>
        <div class="navbar-item"><a href="#">Support</a></div>
        <div class="navbar-item"><a href="#">About</a></div>
    </div>

<!-- This is the complete screen -->

    <div class="whole-screen">

    </div>

<!-- This is the footer -->

    <div class="footer">
        <h2>© 2024 Ministry of Youth Affairs and Sports</h2>
        <br>
        <p>Content created and manged by (NIC)National Informatics Centre</p>

    </div>


</body>
</html>
