<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="style_login.css">
</head>
<body>


   <!-- This is the whole screen -->

    <div class="whole-screen">
        <div class="login_container">

            <div class="email">
                <label>Email</label>
                <input type="email" class="input-label" placeholder="Enter Email">
            </div>

            <div class="password">
                <label>Password</label>
                <input type="password" class="input-label" placeholder="Enter Password">
            </div>
            <div class="generic-button">
                <button class="generic-button">Login</button>

            </div>

        </div>

        <div class="signup-container">
            <h5 >dont have an account?</h5>
            <div class="generic-button">
                <button class="generic-button">Sign up</button>
            </div>

        </div>

    </div>

   <!-- This is the footer -->

    <div class="footer">
        <h2>© 2025 Ministry of Youth Affairs and Sports</h2>
        <br>
        <p>Content created and manged by National Informatics Centre(NIC)</p>

    </div>

<script>
console.log("hello world")
a=5+"5"


</script>


</body>
</html>