* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
     /* This now applies a 50px gap between the navbar items */
    background-color: darkgray;
    color: white;
    padding: 25px;
    border-bottom: 2px solid #70d4d4;
    border-top: 2px solid #70d4d4;
    z-index: 10;
}

.whole-screen {
    /*flex: 1; /* Takes up the remaining space between navbar and footer */
    width: 100%;
    color: white;
    min-height: 79vh;
    background-color: black;
    font-size: larger;
}

.logo_img {
    width: 40px;
    height: auto;
    mix-blend-mode: color-burn;
}

.navbar-item {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;

}


.navbar-item a {
    color: black; /* Default color */
    text-decoration: none; /* Default state - no underline */
    transition: color 0.3s ease, text-decoration-color 0.3s ease, text-shadow 0.3s ease; /* Transition for multiple properties */
}

.navbar-item a:hover {
    color: aqua; /* Change text color to aqua */
    text-decoration-color: aqua; /* Set underline color to aqua */
    transition: color 0.9s ease, text-decoration-color 0.9s ease, box-shadow 0.9s ease; /* Transition timing adjusted */
}

/* Footer styling */
.footer {
    padding-top: 10px;
    color: black;
    background-color: darkgray;
    font-size: 16px;
    text-align: center;
    height: 100px;

}
.footer p {
    color: black;
    align-content: center;
}

